$colorMain: rgb(74,9,9);
$colorSecond: rgb(181, 56, 56);
$colorThird: rgb(192, 145, 27);

.subHead {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    line-height: 22px;
    color: rgba(62, 16, 16, 0.544);
}

.passReq {
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: rgba(62, 16, 16, 0.544);
}