$colorMain: rgb(74,9,9);
$colorSecond: rgb(181, 56, 56);
$colorThird: rgb(192, 145, 27);

//Sign In Pop Up

@keyframes transform {
    0% {opacity: .25; width: 40%; height: 40vh; left: 30%; top: 26%;}
    50% {opacity: .5; width: 50%; height: 50vh; left: 24%; top: 22%}
    75% {opacity: .75; width: 75%; height: 75vh; left: 14%; top: 15%;}
    //80% {opacity: .8; width: 80%; height: 80vh; left: 12%; top: 13%}
    //85% {opacity: .85; width: 85%; height: 85vh; left: 10%; top: 11%}
    90% {opacity: .90; width: 90%; height: 90vh; left: 5%; top: 6%}
    95% {opacity: .95; width: 95%; height: 95vh; left: 3%; top: 4%}
    98% {opacity: .98; width: 98%; height: 98vh; left: 1%; top: 1%}
    100% {opacity: 1; width: 100%; height: 100vh;}
}

.display {
    animation-name: transform;
    animation-duration: .25s;
    position: absolute;
    background-color: white;
    opacity: 1;
    width: 100%;
    height: 100vh;
    z-index: 9999;
}

.showHide {
    display: none;
}
//Sign In Form

.formContainer {
    width: 30%;
    margin-top: 50px
}

.img {
    width: 24%;
    height: 24%;
    margin-left: 6px
}

.head {
    font-weight: bold;
    color: $colorMain;
    text-align: center;
    margin-top: 15px;
    font-size: 38px;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label {
    font-size: 14px;
    color: grey;
    padding: 0px;
    display: block;
}

.inputText {
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.618);
    height: 22px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 0px;
    display: block;
}

.inputText:focus {
    outline: none
}

.checkbox {
    display: inline;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(128, 128, 128, 0.618);
    border-radius: 20%;
    background-color: white;
    margin-top: 5px

}

.checkbox:active {
    background-color: green;
}

.checkboxText {
    display: inline;
    margin-left: 5px;
    font-size: 10px;
    line-height: 15px ;
}
.button {
    display: block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: $colorMain;
    color: white;
    width: 100%;
    height: 48px;
    border: none;
    z-index: 9999;
}

.button:hover {
    background-color: rgb(108, 39, 39);
}
//This may not be needed
//background-color: rgba(15, 118, 228, 0.144);

.createHead {
    font-weight: bold;
    font-size: 38px;
    color: $colorMain;
    line-height: 32px
}

.createSubHead {
    font-weight: bold;
    font-size: 22px;
    color:rgba(44, 17, 17, 0.689);
    line-height: 20px;
}

.createButton {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: $colorMain;
    width: 100%;
    height: 48px;
    border: 1px solid $colorMain;
}

.createButton:hover {
    border: 1px solid rgb(108, 39, 39);
    color: rgb(108, 39, 39);
}