

.inputText {
    border: none;
    border-bottom: 1px solid rgba(5, 5, 5, 0.371);
    border-radius: 0%;
}

.inputText:focus{
    border-bottom: 1px solid rgba(5, 5, 5, 0.371);
}

.emptyInput {
    color: red;
    font-size: 20px;
}