@import url('https://fonts.cdnfonts.com/css/hubot-sans');

$colorMain: rgb(74,9,9);
$colorSecond: rgb(181, 56, 56);

* {
    overflow-anchor: none;
}

.Navbar {
    margin: auto;
}

.secondaryNav {
    height: 43px;
    background-color: rgb(239, 239, 239);
}

.secondNavText {
    color: $colorMain;
    margin-right: 40px;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Hubot-Sans';
}

.secondNavText:hover {
    text-decoration: underline;
    color: rgb(139, 121, 21)
}

.menu {
    display: none;
    font-size: 24px;
    margin-left: 10px;
    color: $colorMain
}

.menu:hover {
    cursor: pointer
}

.tabs {
    color: $colorMain;
    margin-left: 15px;
    font-size: 26px;
    text-decoration: none;
    background-image: linear-gradient(rgb(181, 56, 56), rgb(181, 56, 56));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 10%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

.tabs:hover, .tabs:focus, .tabs:active {
    background-size: 25px 0.1em;
    color: $colorSecond
}


.image {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 0px;
}

.findButton {
    background-color: $colorMain;
    color: white;
    border-radius: 25px 25px;
    margin-left: 55px;
    padding-right: 25px;
    border: none;
    width: 200px;
    height: 41px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(108, 39, 39), rgb(108, 39, 39));
    background-size: 0% 3em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
}

.buttonText {
    font-size: 12px;
    font-family: 'hubot-sans';
    margin-left: 5px;
}

.findButton:hover, .findButton:focus {
    background-size: 300px 6em;

}

.secondLogo {
    width: 25px;
    height: 28px;
    padding-bottom: 3px;
}

.signIn {
    color: $colorMain;
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
}

.signIn:hover {
    cursor: pointer;
}

.signInText {
    font-size: 14px;
    opacity: .5;

}

.bag {
    width: 20px;
    height: 29px;
    margin-right: 43px;
    cursor: pointer;
}

//@media rules

@media only screen and (max-width: 1290px) {
    .tabContainer {
        display: none;
    }

    .mainNav {
        text-align: center;
        overflow: hidden;
    }
    
    .signIn {
        margin: 0px;
    }

    .findButton {
        margin-left: 0px;
    }
    .findButtonContainer {
        text-align: center;
        margin: auto;
    }

    .menu {
        display: inline
    }

}

@media only screen and (max-width: 585px) {
    .signIn {
        display: none
    }
}